.dates-group {
  margin-top: 2rem;
}

.dates-group > div:first-child {
  margin-right: 1rem;
}

.dates-group > div:last-child {
  margin-left: 1rem;
}

.dates-error {
  margin-top: 1rem;
  color: red;
}
