.option-group.option-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 1rem;
}

.option-group > label {
  margin-right: 1rem;
  color: #000;
}

.option-group > label.Mui-focused {
  color: #000;
}